@import "../../vars.css";

.container {
    margin-top: 76px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    font-size: 35px;
    margin-bottom: 50px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.projects {
    margin-top: 37px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 35px;
}

@media screen and (max-width: 3050px) {
    .projects {
        justify-content: center;
    }
}

@media screen and (max-width: 2030px) {
    .projects {
        justify-content: space-around;
    }
}

@media screen and (max-width: 1250px) {
    .projects {
        flex-direction: column;
        align-items: center ;
    }
}