@import "../../vars.css";

.container {
    color: var(--color-text);
    margin-top: 125px;
    margin-left: 10%;
    margin-right: 10%;

    position: relative;
    z-index: 1;
}

.title {
    color: var(--color-text);
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    margin-top: 14px;
    gap: 5rem;
}

.skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 37px;
    height: fit-content;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
}

.skillImageContainer {
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
}

.skillImageContainer img {
    width: 75px;
}

.skill p {
    font-size: 25px;
    font-family: var(---font-roboto);
    font-weight: 500;
}

.history {
    display: flex;
    flex-direction: row; 
    gap: 40px;
}

.historyItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 17px;
    background: #19376d;
    background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
    border-radius: 20px;
    padding: 40px;
}

.historyItem img {
    width: 75px;
}

.historyItemDetails {
    font-family: var(---font-roboto);
}

.historyItemDetails h3 {
    font-size: 35px;
    font-weight: 500;
}

.historyItemDetails p {
    font-size: 25px;
    font-weight: 300;
}

.historyItemDetails ul {
    margin-top: 25px;
    list-style-position: inside;
    font-size: 30px;
    list-style-type: disc;
    margin-left: 17px;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

@media screen and (max-width: 830px) {
    .content {
        flex-direction: column;
        align-items: center;
        gap: 34px;
    }
}

@media screen and (max-width: 2200px) {
    .skills {
        flex-direction: row;
        justify-content: center;
    }

    .history {
        gap: 9px;
        flex-direction: column;
    }
}